<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather App</title>
    <!-- Latest compiled and minified CSS -->
{{>head}}
    
    
</head>
<body>
    {{>header}}
    <!---------------hdeader Complete -->
    <div class="containter-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 mian_header_left align-items-center">
                        <figure>
                            <img src="images/404-pages.jpg" alt="akshat" class="img-fluid" title="Akshat Choudha" />
                        </figure>
                        <p>Welcome to Weather App</p>
                        <h1>{{errorsms}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>