<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather App</title>
    <!-- Latest compiled and minified CSS -->
{{>head}}
    
    
</head>
<body>
    {{>header}}
    <!---------------hdeader Complete -->
    <div class="containter-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 mian_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>i am <span class="text_color">Mern Stack Developer</span> and a freelancer</h1>
                        <a class="btn btn-light weather_button" href="/about" role="button">About Me</a>
                    </div>
                    <div class="col-md-6 col-12 mian_header_right align-items-center">
                        <figure>
                            <img src="images/computer-user-icon-16405.png" alt="akshat" class="img-fluid" title="Akshat Choudha" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>